@import "~nhsuk-frontend/packages/core/all";

ul > li > ul > li {
  list-style-type: circle;
}

.list-heading {
  @extend .nhsuk-u-font-weight-bold;

  li {
    @extend .nhsuk-u-font-weight-normal;
  }
}

.js-enabled .non-js-only {
  display: none;
}

.nhsuk-button {
    @include mq($until: tablet) {
        margin-top: nhsuk-spacing(3);
    }
}

h1#page-heading {
  margin-bottom: 16px;
}
.page-subheading {
  margin-bottom: 16px;
}

